/*
*		Renders the 2 columns layout containing mainContent and right column, loads for most of the pages.  This can be enherited on per model basis.
*
*/
/** -------------------------------------------------------------------
Name:              2ColumnsRight
Location:          /Html/General/Layouts/2ColumnsRight.html
Created By:        Leslie Canete
Created At:        06-Okt-2014 14:51 (relocating)
Last modified By:  Seth Malaki
Last modified At:  23-Okt-2014 17:52 (myupdates in adding comments)
Calling blocks:    breadcrumb 	Footer 	header 	mainContent 	notification 	rightColumn 	
--------------------------------------------------------------------**/


<div class="page">
	[:header]
	<div class="two-columns-right">
		[:breadcrumb]
		<div class="main-container">
			<div class="main ">
				[:notification]
				[:mainContent]
			</div>
		</div>
		<div class="right">
			[:rightColumn]
		</div>
		<br style="clear:both;"/>
	</div>
	[:Footer]
</div>
