/*
*		Renders the default blocks that is placed in the right column.  This can be enherited on per model basis.
*
*/


[?DesignLayout.CheckRightColumn,[Url.Model],SideLanguageSwitcherBlock|Yes=[:SideLanguageSwitcherBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideCurrencySwitcherBlock|Yes=[:SideCurrencySwitcherBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideSearchCloudBlock|Yes=[:SideSearchCloudBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideCategoryNavigationBlock|Yes=[:SideCategoryNavigationBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideCustomerAccountNavigationBlock|Yes=[:SideCustomerAccountNavigationBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SidePollBlock|Yes=[:SidePollBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideUspsBlock|Yes=[:SideUspsBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideTagCloudBlock|Yes=[:SideTagCloudBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideCartBlock|Yes=[:SideCartBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideSliderBlock|Yes=[:SideSliderBlock]][:SideSliderBlock]
[?DesignLayout.CheckRightColumn,[Url.Model],SideNewsletterBlock|Yes=[:SideNewsletterBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideRecentOrderBlock|Yes=[:SideRecentOrderBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideComparedProductsBlock|Yes=[:SideComparedProductsBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideBestSellersBlock|Yes=[:SideBestSellersBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideMostViewedBlock|Yes=[:SideMostViewedBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideNewProductsBlock|Yes=[:SideNewProductsBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideFeaturedProductsBlock|Yes=[:SideFeaturedProductsBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideSaleProductsBlock|Yes=[:SideSaleProductsBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideRecentlyViewedProductsBlock|Yes=[:SideRecentlyViewedProductsBlock]]
[?DesignLayout.CheckRightColumn,[Url.Model],SideMostViewedProductsBlock|Yes=[:SideMostViewedProductsBlock]]

